* {
    padding: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* body{
    display: flex;
    flex-direction: column;  
}

header{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#flags {
    width: 100vw;
    height: 300px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    
}
.bg-white{
    background-color: white;
}

.flag {
    width: 120px;
    height: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#japan {
    width: 60%;
    height: 60px;
    background-color: red;
    border-radius: 50%;
}

#bar-re{
    width: 40px;
    height: 100%;
    background-color: red;
}

#bar-green{
    width: 40px;
    height: 100%;
    background-color: green;
}

#bar-white{
    width: 40px;
    height: 100%;
    background-color: white;
}

#bar-blue{
    width: 40px;
    height: 100%;
    background-color: rgb(15, 15, 128);
}

#bar-white{
    width: 40px;
    height: 100%;
    background-color: white;
}

#bar-red{
    width: 40px;
    height: 100%;
    background-color: red;
}


#bar-black-horizontal{
    width: 120px;
    height: 40%;
    background-color: black;
}


#bar-yellow-horizontal{
    width: 120px;
    height: 40%;
    background-color: yellow;
}

#bar-red-horizontal{
    width: 120px;
    height: 40%;
    background-color: red;
}


.flag-horizontal{
    display: flex;
    flex-direction: column;
}
